#knitcount_bggradient {
    text-align:center;
    margin:auto;
    font-size:30px;
    padding-top:105px;
    height: 100%;
    width: 100%;
    background-color: #ff4757;
    background-image: linear-gradient(360deg, #ff6b81 0%, #ff4757 75%);
    opacity: 0.95;
}

.saturated-sky-bg {
    background-color: #5352ed;
    color: white;
}

.golden-sand-bg {
    background-color: #eccc68;
    color: white;
}

.clear-chill-bg {
    background-color: #1e90ff;
    color: white;
}

.coral-bg {
    background-color: #ff7f50;
    color: white;
}

.brand-icon {
    color: white;
}

.icon-hover-blue:hover .icon {
    background-color: #1e90ff;
}

