#knitcount_bggradient {
    text-align:center;
    margin:auto;
    font-size:30px;
    padding-top:105px;
    height: 100%;
    width: 100%;
    background-color: #ff7f50;
    background-image: linear-gradient(20deg, #ff6348 0%, #ff7f50 75%);
    opacity: 0.95;
}

.saturated-sky-bg {
    background-color: #5352ed;
    color: white;
}

.golden-sand-bg {
    background-color: #eccc68;
    color: white;
}

.clear-chill-bg {
    background-color: #1e90ff;
    color: white;
}

.coral-bg {
    background-color: #ff7f50;
    color: white;
}

.prestige-blue {
    background-color: #2f3542 !important;
}

#preloader .progress .indeterminate {
    background: #1e90ff !important;
}
